replicaCount: 2
image:
  repository: 902275209269.dkr.ecr.us-east-1.amazonaws.com/movie-watchlist-backend
  pullPolicy: IfNotPresent
  tag: "63ab7d4" 
env:
  SQLALCHEMY_DATABASE_URI: "postgresql://postgres:70ne9gMEEt@movie-watchlist-postgresql.development.svc.cluster.local/movie_db"
service:
  type: ClusterIP 
  port: 80

frontend:
  replicaCount: 2
  image:
    repository: 902275209269.dkr.ecr.us-east-1.amazonaws.com/movie-watchlist-frontend
    pullPolicy: IfNotPresent
    tag: "latest" 
  service:
    type: ClusterIP
    port: 80

ingress:
  enabled: true
  className: "nginx"
  annotations: {}
  hosts:
    - host: statenews.com 
      paths:
        - path: /
          pathType: ImplementationSpecific
  tls: []

resources:
  limits:
    cpu: 200m
    memory: 256Mi
  requests:
    cpu: 100m
    memory: 128Mi
autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 10
  targetCPUUtilizationPercentage: 80

postgresql:
  global:
    storageClass: "gp2"
  auth:
    database: "movie_db"
    username: "postgres"
    password: "70ne9gMEEt"
  image:
    registry: docker.io
    repository: bitnami/postgresql
    tag: "latest"

serviceAccount:
  create: false
  name: ""